@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

.pulsating-marker {
	position: relative;
}

.pulsating-marker::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: blue;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: pulse 2s infinite;
	z-index: -1;
}

.pulsating-marker circle {
	fill-opacity: 0.7;
	stroke-width: 3;
}
